<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>simudyne.jfrog.io</id>
            <username></username>
            <password></password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>simudyne.jfrog.io</id>
                    <url>https://simudyne.jfrog.io/simudyne/sbt-dev</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>
